@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

.game {
  background-image: url("/background.jpg");
  width: 360px;
  height: 640px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  left: calc((100vw - 360px) / 2);
  z-index: 1;
}
.layer {
  position: relative;
  width: 100%;
  height: 100%;
}
.box {
  background-image: url("/box.png");
  width: 250px;
  height: 125px;
  position: absolute;
  background-size: contain;
  top: 300px;
  left: calc((360px - 250px) / 2);
  z-index: 100;
  opacity: 0.8;
}
.operation {
  padding: 35px;
  text-align: center;
  font-size: 40px;
  font-family: "Crafty Girls", cursive;
}
.response {
  padding-top: 18px;
  text-align: center;
  font-size: 25px;
  font-family: "Pangolin", cursive;
}
.consigne {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Pangolin", cursive;
}
.btn {
  position: absolute;
  width: 200px;
  height: 40px;
  bottom: 20px;
  left: calc((100vw - 200px) / 2);
  background-color: #fff3e2;
  border: #000 2px solid;
  border-radius: 5px;
  z-index: 100;
  font-size: 20px;
  font-family: "Pangolin", cursive;
  z-index: 100;
  cursor: pointer;
}

.keyboard {
  position: absolute;
  width: 350px;
  height: 40px;
  bottom: 60px;
  left: calc((100vw - 350px) / 2);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  z-index: 100;
}
.key {
  position: relative;
  width: 60px;
  height: 45px;
  background-color: #fff3e2;
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  font-family: "Crafty Girls", cursive;
  cursor: pointer;
}
.validate {
  position: relative;
  margin-left: 50px;
  width: 100px;
  height: 45px;
  background-color: #fff3e2;
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  font-family: "Crafty Girls", cursive;
  cursor: pointer;
}
.actionboard {
  display: flex;
  position: absolute;
  width: 300px;
  bottom: 110px;
  left: calc((100vw - 300px) / 2);
  z-index: 100;
  gap: 5px;
}
.result {
  position: relative;
  width: 130px;
  background-color: #fff3e2;
  border: rgb(0, 0, 0) 2px solid;
  text-align: center;
  font-size: 20px;
  font-family: "Crafty Girls", cursive;
  cursor: pointer;
  padding: 5px;
}
.options {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-evenly;
  position: absolute;
  width: 50px;
  top: 100px;
  right: 10px;
  z-index: 100;
}
.option {
  position: relative;
  background-color: #fff3e2;
  width: 45px;
  height: 45px;
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 50%;
  z-index: 100;
  font-size: 30px;
  padding: 3px;
  cursor: pointer;
  text-align: center;
}
.dot {
  width: 30px;
  height: 10px;
  border-radius: 25%;
  background-color: rgb(255, 255, 255);
}
.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(40, 40, 40);
}
.page {
  background-color: rgb(40, 40, 40);
}
